:root {
  --primary: #d81e5b;
  --secondary: #8c38ff;
  --third: #F8DF00;
  --fourth: #00F8CB;
  --dark: #131a26;
  --light: #eee;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--dark);
  box-sizing: border-box; 
}

.header {
  width: 100%;
  height: 80px;
  color: var(--light);
  background-color: transparent;
}

.header-wrapper {
  width: 1200px;
  height: inherit;
  margin: 0 auto;
}

.logo {
  width: 300px;
  height: inherit;
  float: left;
  color: inherit;
  padding-top: 20px;
  font-size: 30px;
}

.navbar {
  width: 400px;
  height: inherit;
  color: inherit;
  float: left;
  padding-top: 30px;
}

.navbar-a {
  color: inherit;
  text-decoration: none;
  margin: 0px 20px 0px 20px;
  font-size: 20px;
}

.navbar-a {
  background:
    linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
  transition: 0.2s ease-in-out;
}

.navbar-a:hover {
  background-size: 0 3px, 100% 3px;
  color: var(--primary);
}

.sign-in {
  width: 400px;
  height: inherit;
  float: right;
  text-align: right;
  padding-top: 25px;
}

.glow-on-hover {
    width: 150px;
    height: 50px;
    border: 3px solid var(--primary);
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: 20px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.main {
  width: 100%;
  height: 100vh;
  background-image: url('assets/img-circle-gradient.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.main-wrapper {
  width: 1200px;
  height: max-content;
  margin: 0 auto;
}

.main-title {
  width: 900px;
  height: 200px;
  color: var(--light);
  padding-top: 100px;
  font-size: 35px;
}

.main-title p {
  display: inline;
  color: var(--fourth);
}

#check-weather {
  width: 250px !important;
  height: 60px;
}

.weather {
  width: 100%;
  height: 1500px;
  padding-top: 50px;
  /*background-color: var(--primary);*/
}

.weather-wrapper {
  width: 1200px;
  height: inherit;
  color: var(--light);
  margin: 0 auto;
}

.weather-item {
  width: 400px;
  height: 300px;
  border: 2px solid var(--primary);
  border-radius: 16px;
  float: left;
  margin: 0px 0px 60px 150px;
  transition: 0.2s ease-in-out;
  padding: 10px;
}

.weather-item:hover {
  opacity: 0.7;
  cursor: pointer;
}

.footer {
  width: 100%;
  height: 200px;
  background-color: #0e0d1f;
  margin-top: 50px;
  padding-top: 20px;
}

.footer-wrapper {
  width: 1200px;
  height: inherit;
  margin: 0 auto;
  text-align: left;
}

.footer-text {
  width: 700px;
  height: inherit;
  margin: 0 auto;
}

.footer p {
  
  color: var(--light);
}

#ft-a {
  margin: 0px 2px 0px 2px;
}

#date {
  color: var(--light);
}