:root {
    --primary: #d81e5b;
    --secondary: #8c38ff;
    --third: #F8DF00;
    --fourth: #00F8CB;
    --dark: #131a26;
    --light: #eee;
}

.search-bar {
    width: 100%;
    height: 300px;
    text-align: center;
}

.search {
    border: 2px solid var(--fourth);
    background-color: transparent;
    width: 500px;
    height: 40px;
    padding-left: 10px;
    color: var(--light);
}

.searched-location {
    border: 2px solid var(--fourth);
    width: 500px;
    height: 200px;
    margin: 0 auto;
    padding-left: 10px;
    margin-top: 20px;
    text-align: left !important;

}

.searched-data {
    width: 60%;
    height: max-content;
    float: left;
}

.searched-icon {
    width: 40%;
    height: 200px;
    float: right;
    color: #8c38ff;
}

.top {
    color: var(--secondary);
}

.location {
    color: inherit;
    font-size: 30px;
}

.icon {
    width: 100%;
    height: 80px;
    /* background-color: #00F8CB; */
}

.temp {
    color: var(--secondary);
    font-size: 18px;
    
}

.middle {
    margin-top: 10px;
}

.temp {
    color: var(--fourth);
}

.description, 
.humidity,
.temp_min, 
.temp_max, 
.wind, 
.cloud{
    color: var(--light);
}

